.wrapper {
  background-color: rgb(172, 70, 65);
  background-position: 10% center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}
.login {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
}
.wrapper img {
  max-height: 30px;
}
a.NavLinks {
  color: #fff !important;
}