.wrapper {
  max-width: 600px;
  margin: 0;
  margin-bottom: 10px;
  cursor: pointer;

  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  border: 2px solid rgb(102, 102, 102);
}
.wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; 
  top: 0;
}
.wrapper .iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; 
  top: 0;
}
