.wrapper {
  max-width: 100%;
  margin: 0;
  margin-bottom: 10px;
  cursor: pointer;

  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  border: 2px solid rgb(102, 102, 102);
  background-size: cover;
  background-position: center;
}
.wrapper::before {
  opacity: 0;
  content: '';
  display: block;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('/play-button.png');
  background-size: 10%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.wrapper:hover::before {
  opacity: 1;
}

.wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; 
  top: 0;
}
.wrapper .iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; 
  top: 0;
}
.videoMetaData {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}