.content {
  padding: 2vh;
  box-sizing: border-box;
  opacity: 1;
}
.content h1 {
  margin: 0 0 0.5em 0;
  padding: 0;
}
.content h2 {
  margin: 0 0 0.5em 0;
  padding: 0;
}
.content h3 {
  margin: 0 0 0.5em 0;
  padding: 0;
}
.content p, .content hr {
  margin: 0 0 1.33em 0;
  padding: 0;
}
.content ul, .content ol {
  margin: 0 0 1.33em 1.33em;
  padding: 0;
  padding-left: 1em;
}
.content li p {
  margin: 0 0 1em 0;
  padding: 0;
}
.content p b {
}
.content a,.content a:link, .content a:visited {
}
.content a:hover, .content a:active {
}
