.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  box-sizing: border-box;
  padding: 0 1vw;
}
.wrapper-fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  box-sizing: border-box;
  padding: 0 1vw;
}