.wrapper {

}
.subheader {
  margin-bottom: 10px !important;
  margin-top: -10px !important;
}
.info {
  display: flex;
  margin-bottom: 10px;
}
.avatar {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.desc {
  margin: 0px !important;
}