.wrapper {
  margin: 0;
  padding: 3vw;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.33em;
  color: rgb(204, 152, 50);
  box-sizing: border-box;
  text-align: center;
}
.heading {
  font-size: 3em;
  line-height: 1.33em;
  font-weight: 100;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 0;
}
.sub {
  opacity: 0.7;
}