.wrapper {
  display: flex;
 max-width: 1200px;
  margin: auto;
}
nav {
  border-right: 1px solid rgb(172, 70, 65);
  background-color: rgba(172, 70, 70,0.2);
  flex-basis: 30%;
}
section {
  flex-basis: 70%;
}