.wrapper {
  display: flex;
  border: 1px solid yellow;
  max-width: 1200px;
  margin: auto;
}
nav {
  border: 1px solid red;
  flex-basis: 30%;
}
section {
  border: 1px solid red;
  flex-basis: 70%;
}