.topic{
  display: flex;
}
.topicAvatar {
  flex-basis: 80px;
  min-width: 80px;
  max-width: 80px;
  padding: 10px;
  box-sizing: border-box;
}
.topicContent {}
.reply {
  display: flex;
  border-top: 1px solid rgb(172, 70, 65);
}
.replyAvatar {
  flex-basis: 80px;
  min-width: 80px;
  max-width: 80px;
  padding: 10px 0 0 10px;
  box-sizing: border-box;
}
.replyAvatar img {
  width: 70px;
}
.replyContent {}
.subinfo {
  margin-top: -0.5em !important;
  opacity: 0.5;
  margin-bottom:0.5em !important;
}
