.wrapper {
  padding: 0 2vw 3vw 2vw;
  min-height: 20vh;
  max-width: 600px;
  margin: 0 auto;
}
.articleImage {
  text-indent: -99999px;
  overflow: hidden;
  display: block;
  background-blend-mode: luminosity;
  background: rgb(26,26,26);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 56.25%;
}
.wrapper:hover .articleImage {
  background-blend-mode: normal;
}