.wrapper {
  background-color: rgba(172, 70, 65,0.5);
  background-position: 10% center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.wrapper img {
  max-height: 30px;
}
a.NavLinks {
  color: #fff !important;
}